= form_for @pin, html: { multipart: true } do |f|
	- if @pin.errors.any?
		#errors
			%h2
				= pluralize(@pin.errors.count, "error")
				prevented this Pin from saving
			%ul
				- @pin.errors.full_messages.each do |msg|
					%li= msg

	.form-group
		= f.label :image
		%br/
		= f.file_field :image, class: "form-control"

	.form-group
		= f.label :title
		%br/
		= f.text_field :title, class: "form-control"

	.form-group
		= f.label :description
		%br/
		= f.text_area :description, class: "form-control"

	= f.submit class: "btn btn-primary"