= image_tag @pin.image.url(:medium)
%h1= @pin.title
%p.description= @pin.description
%p= @pin.user.email

= link_to "Home", root_path
- if user_signed_in?
	= link_to "Edit", edit_pin_path
	= link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?" }